@import "~bootstrap/scss/bootstrap.scss";

/*Características del título*/
h1{
    text-align: center;
    font-size: 4rem;
    color: rgba($color: #9257c9, $alpha: 1.0)
}
/*Características de la lista*/
ul{
    padding: 0.3rem;
}
li{
    width: 100%;
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
/*Característica del input*/
input{
    width: 100%;
}
/*Clase para darle las características necesarias a la bandeja de entrada de las tareas*/
.main{
    border: 0.02rem solid  #dad8db;
    width: 37.5rem;
    border-radius: 0.3rem;
}
/*Característica para ocultar el botón de la (X)*/
.hidden-icon>span{
    visibility: hidden;
}
/*Característica para mostrar el botón de la (X) cuando el cursor pase por encima de él*/
.hidden-icon:hover{
    cursor: pointer;
    span{
        visibility: visible;
    }
}
/*Característica del texto inferior que muestra cuántas tareas hay*/
.footer-text{
    font-size: 0.9rem;
}
/*Característica del input cuando se hace click en él*/
.color-change:focus-within {
    outline: 0.15rem solid #dad8db;
}

/*Adaptaciones móviles para cada componente*/
@media screen and (max-width: 768px){
    h1{
        text-align: center;
        font-size: 2.5rem;
        color: rgba($color: #9257c9, $alpha: 1.0)
    }
    ul{
        padding: 0.3rem;
    }
    li{
        width: 100%;
        list-style: none;
        text-align: left;
        display: flex;
        justify-content: space-between;
    }
    input{
        width: 95%;
    }
    .main{
        border: 0.02rem solid  #dad8db;
        width: 20rem;
        border-radius: 0.3rem;
    }
    .hidden-icon>span{
        visibility: hidden;
    }
    .hidden-icon:hover{
        cursor: pointer;
        span{
            visibility: visible;
        }
    }
    .footer-text{
        font-size: 0.8rem;
    }
    .color-change:focus-within {
        outline: 0.15rem solid #dad8db;
    }
}