@import "~bootstrap/scss/bootstrap.scss";

/*Características del título*/
h1{
    text-align: center;
    font-size: 4rem;
    color: rgba($color: #9257c9, $alpha: 1.0)
}
/*Características de la lista*/
ul{
    width: 100%;
    padding: 0.3rem;
}
li{
    width: 100%;
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}
/*Característica del input*/
input{
    width: 100%;
}

/*Clase para centrar todo en el div principal*/
.todos-list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Clase para darle las características necesarias a la bandeja de entrada de las tareas*/
.main{
    border: 0.02rem solid  #dad8db;
    width: 37.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
}
/*Característica para ocultar el botón de la (X)*/
.hidden-icon>span{
    visibility: hidden;
}
/*Característica para mostrar el botón de la (X) cuando el cursor pase por encima de él*/
.hidden-icon:hover{
    cursor: pointer;
    span{
        visibility: visible;
    }
}
/*Característica del texto inferior que muestra cuántas tareas hay*/
.footer-text{
    font-size: 0.9rem;
}
/*Característica del input cuando se hace click en él*/
.color-change:focus-within {
    outline: 0.15rem solid #dad8db;
}